<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/reset.css">
  <link rel="stylesheet" href="/css/el.css">
  <title>el ❯ {{ title }}</title>
</head>
<body>
  
  <div class="container">
    <header>
    <nav>
      {{ collections.all | eleventyNavigation | eleventyNavigationToHtml | safe }}
    </nav>
    </header>

    {{ content | safe }}
   </div>
   <footer>
   <footer>
</body>
</html>